
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    
    <body>
        
        <div>corpo do menu</div>
        <a th:href="@{/lista}" class="btn btn-outline-danger">Lista Pessoas</a>
         <div>corpo do menu</div>
<a th:href="@{/cadastrarEvento}" class="btn btn-outline-danger">criar pessoa</a>
 <div>corpo do menu</div>
    <tr>
<a th:href="@{/dashboard}" class="btn btn-outline-danger">dashboard</a>
</tr>

    </body>
</html>
