<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" style="margin-top: 20px;">

            <h4>Formulário de Edicao de Inquilino</h4>
            <hr>
            <div class="container formEvento">

            </div>



            <form action="/salvar" method="post">

                <!-- DADOS PESSOAIS-->
                <fieldset>
                    <legend>Dados Pessoais</legend>
                    <table cellspacing="10">
                        <tr>
                            <td>
                                <label for="nome">Nome: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="nome"th:value="${pessoa.nome}">
                            </td>
                            <td>
                                <label for="sobrenome">Email: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="email"th:value="${pessoa.email}">
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label>Nascimento: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="Datanascimento" size="13" maxlength="13" th:value="${pessoa.Datanascimento}">
                            </td>

                            <td>
                                <label for="rg">RG: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="identidade" size="13" maxlength="13"th:value="${pessoa.identidade}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>CPF:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="cpf" size="11" maxlength="11"th:value="${pessoa.cpf}">
                            </td>
                            <td>
                                <label for="sobrenome">Telefone: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="telefone" th:value="${pessoa.telefone}">
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <br />
               
                <br />


                <!-- Tipo de Contrato -->
                <fieldset>
                    <legend>Tipo de Contrato</legend>
                    <table cellspacing="10">

                        <tr>
                            <td>
                                <label for="rua">Valor:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="valor"size="4" th:value="${pessoa.valor}">
                            </td>
                            <td>
                                <label for="numero">Dia Pagamento:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="diapagamento" size="4"  th:value="${pessoa.diapagamento}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="loft">Loft:</label>
                            </td>
                            <td align="left">
                                <select name="loft"  th:value="${pessoa.loft}">
                                    <option label="-" value="">-</option>
                                    <option label="01" value="1">01</option>
                                    <option label="02" value="2">02</option>
                                    <option label="03" value="3">03</option>
                                    <option label="04" value="4">04</option>
                                    <option label="05" value="5">05</option>
                                    <option label="06" value="6">06</option>
                                    <option label="07" value="7">07</option>
                                    <option label="08" value="8">08</option>
                                    <option label="09" value="9">09</option>
                                    <option label="10" value="10">10</option>
                                    <option label="11" value="11">11</option>
                                    <option label="12" value="12">12</option>
                                    <option label="13" value="13">13</option>
                                    <option label="14" value="14">14</option>
                                    <option label="15" value="15">15</option>
                                    <option label="16" value="16">16</option>
                                    <option label="17" value="17">17</option>
                                    <option label="18" value="18">18</option>
                                </select>    

                            </td>

                            <td>
                                <label for="locatario">Locatario:</label>
                            </td>
                            <td align="left">
                                <select name="locatario"> 
                                    <option label="-" value="">-</option>
                                    <option value="CNPJ Amanda">CNPJ Amanda</option> 
                                    <option value="CNPJ Marcelo">CNPJ Marcelo</option> 
                                    <option value="CPF Amanda">CPF Amanda</option> 
                                    <option value="CPF Marcelo">CPF Marcelo</option> 

                                </select>
                            </td>
                             
                        </tr>
                        <tr>
                            <td>
                                <label for="cidade">Data Inicio: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="datainiciocontrato"size="4"  th:value="${pessoa.datainiciocontrato}">
                            </td>

                            <td>
                                <label for="cep">Data Termino: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="datafimcontrato"size="4" th:value="${pessoa.datafimcontrato}">
                            </td>
                            
                        </tr>
                        
                        <tr>
                            
                            <td>
                                <label for="locatario">Tipo Contrato:</label>
                            </td>
                            <td align="left">
                                <select name="tipocontrato" th:value="${pessoa.tipocontrato}">
                                    <option label="-" value="">-</option>
                                    <option value="BASICO">BASICO</option> 
                                    <option value="MOBILIADO">MOBILIADO</option> 
                                    <option value="FULL">FULL</option> 
                                    <option value="OUTRO">OUTRO</option> 

                                </select>
                            </td>
                            
                        </tr>
                        
                    </table>
                </fieldset>
                <br/>


                <!-- Informacoes adicionais-->
                <fieldset>
                    <legend>Informacoes Adicionais</legend>
                    <table cellspacing="10">

                        <tr>
                            <td>
                                <label for="rua">Filiacao:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="filiacao"size="10" th:value="${pessoa.filiacao}">
                            </td>
                            <td>
                                <label for="numero">Data Assinatura:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="Dataassinatura" size="4" th:value="${pessoa.Dataassinatura}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="loft">Nascionalidade:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="nacionalidade"size="10" th:value="${pessoa.nacionalidade}">

                            </td>

                            <td>
                                <label for="refbancaria">Ref. Bancaria:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="refbancaria"size="10" th:value="${pessoa.refbancaria}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="contato">Contato: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="contatoemergencia"size="10" th:value="${pessoa.contatoemergencia}">
                            </td>

                            <td>
                                <label for="cep">Profissao: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="profissao"size="10" th:value="${pessoa.profissao}">
                            </td>
                        </tr>
                        
                         <tr>
                            <td>
                                <label for="rua">Endereco Atual:</label>
                            </td>
                            <td align="left">
                                <input type="text" name="enderecoatual" th:value="${pessoa.enderecoatual}">
                            </td>

                        </tr>
                    </table>










                </fieldset>
                <br />

                <br />


                <button type="submit">Salvar</button>
                <button class="btn btn-light-secondary me-1 mb-1"
                        type="reset">Cancelar
                </button>
            </form>


            <a th:href="@{/lista}" class="btn btn-outline-danger">Lista de inquilinos</a>
            <a th:href="@{/}" class="btn btn-outline-danger">Home</a>







        </div>
    </body>

</html>
